@media (max-width: 768px) {
    h1{
        font-size: 250%;
    };

    .filtros {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:left;
      }
      
      .filtros > button {
        width: 30%;
        margin: 0 0;
      }
    .paginado {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      }
      
    .paginado > button {
        width: 10%;
        margin: 0 0;
      }
    
    .contenedorFooter{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        text-align: left;
        align-items: center;
    }

    #personajes{
        justify-content: left;
        text-align: left;
    }

    .personaje{
        width: 50%;
        margin: 0;
    }  
};

@media (max-width: 360px) {
    h1{
        font-size: 80%;
    };

    .filtros {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:left;
      }
      
      .filtros > button {
        width: 30%;
        margin: 0 0;
      }
    .paginado {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      }
      
    .paginado > button {
        width: 10%;
        margin: 0 0;
      }
    
    .contenedorFooter{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        text-align: left;
        align-items: center;
    }

    #personajes{
        justify-content: left;
        text-align: left;
    }

    .personaje{
        width: 50%;
        margin: 0;
    }  
};










