*{
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 4, 255));
}

h1{
  font-size: 2em;
  margin: auto;
}

.cajaTituloPaginado{
  background-image: linear-gradient(to right, rgb(206, 184, 184), rgb(22, 20, 20));
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 10%;
  width: 100%;
  margin-top: 0px;
  top: 0;
  position: sticky;
}

.filtrosPaginado button{
  border-radius: 10px;
  background-color: blueviolet;
  border: solid black 2px;
  padding: 10px;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}

.filtrosPaginado button:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
  
#primeraPagina:hover, #siguiente:hover, #anterior:hover, #ultimaPagina:hover, #filtroTodo:hover, #filtroMujer:hover,#filtroHombre:hover, #filtroMujer:hover, #filtroSinGenero:hover, #filtroDesconocido:hover {
  background-color: #f51212;
}

#cantidadPersonajes, #cantidadPersonajes2{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5em;
  color: white;
}

#personajes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.personaje:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.contenedorFooter {
width: 100%;
background-color: #212529;
color: #fff;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
margin-bottom: 0;
position: sticky;
}

.footer1 {
width: 50%;
}

.footer2 {
width: 50%;
}


h4 {
  font-size: 18px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
